html, body {
    margin: 0;
    padding: 0;
}

body * {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

button {
    height: 5vw;
    width: 5vw;
    margin: 5px;
    /* border-color: black; */
}

.numRow > button#zero.number {
    flex: auto;
}

#calcContainer {
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(75, 75, 75);
    width: min-content;
    padding: 10px;
    background-color: rgb(185, 185, 185);
}

#display {
    border: 5px solid rgb(56, 56, 56);
    text-align: right;
}

#bottom {
    display: flex;
}

.numRow {
    display: flex;
}

#compute {
    display: flex;
}